/* RESET */ 
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start {
    padding: 10px;
}
