/* RESET */ 
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#start {
    padding: 10px;
}

.numbers-grid {
    display: flex;
    flex-wrap: wrap;
}

.cell-style {
    width: calc(100% / 10);
    height: calc(100% / 10);
    line-height: 2em;
    text-align: center;
    background-color: lightcoral;
}

.button-start-display {
    display: none;
}